---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mahutt</title>
  </head>
  <body class="relative bg-linear-to-b from-[#27272a] to-zinc-950">
    <div class="w-full h-dvh flex flex-col justify-end items-center">
      <div
        class="w-full flex-1 p-4 flex flex-row justify-end items-start gap-4 text-xl"
      >
        <p id="about" class="text-right">
          Software developer based in Montreal,&nbsp;Canada
        </p>
      </div>
      <div
        class="flex flex-col-reverse sm:flex-row justify-between items-start sm:items-center gap-4 w-full px-4"
      >
        <img id="first-name" class="h-[50px]" src="thomas.svg" alt="Thomas" />
        <div id="links" class="flex flex-row gap-4"></div>
      </div>
      <img
        id="last-name"
        class="name p-4 w-screen object-fill block"
        src="mahut.svg"
        alt="Mahut"
      />
    </div>

    <!-- START WORK -->
    <div
      style="display: none"
      id="work"
      class="absolute top-0 left-0 w-full h-full z-20"
    >
      <div
        class="max-w-3xl mx-auto min-h-dvh py-12 px-4 flex flex-col gap-16 justify-center text-zinc-800"
      >
        <h1
          id="work-title"
          class="text-4xl font-black tracking-tight flex flex-col sm:flex-row gap-2 justify-between"
        >
          <span>work /</span>
          <span>experiences /</span>
          <span>projects</span>
        </h1>
        <div class="flex flex-col">
          <experience-item
            title="Désolé Collective"
            role="Freelance Designer & Full-Stack Developer"
            date="Ongoing"
            link="https://jesuisdesole.com"
          ></experience-item>
          <experience-item
            title="Amazon Web Services"
            role="Software Development Engineer Intern"
            date="Summer 2025"
            link="https://aws.amazon.com"
          ></experience-item>
          <experience-item
            title="PrezPal"
            role="1st Place ConUHacks Winner"
            date="February 2025"
            link="https://devpost.com/software/prezpal-36079w"
          ></experience-item>
          <experience-item
            title="Fundica"
            role="Full-Stack Development Intern"
            date="Fall 2023 & Summer 2024"
            link="https://www.fundica.com"
          ></experience-item>
          <div class="flex justify-end">
            <button
              id="return-home"
              class="text-zinc-800 hover:underline cursor-pointer"
            >
              &larr; Go back
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END WORK -->
    <script src="../scripts/main.ts"></script>
  </body>
</html>
