---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="max-w-4xl mx-auto px-6 py-4 flex flex-row justify-between items-center">
		<a href="/" class="text-xl tracking-tight" >{SITE_TITLE}</a>
		<div id="links" class="flex flex-row gap-4"></div>
	</nav>
</header>

